<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include ('./partials/head.ejs') %>

<body>
  <div class="container">

    <h1><%=movie.title%></h1><br><br>
    <h2><%=movie.author%></h2>

    <img src="<%=movie.image%>" width='250px' height='350px' alt="<%=movie.title%>"><br><br>

    <form action="/movies/<%=movie.id%>?_method=PUT" method="POST">
      Current Title
      <input type="text" name="title" value="<%=movie.title%>" ><br>
      Current Director
      <input type="text" name="director" value="<%=movie.director%>" ><br>
      Current Genre
      <input type="text" name="genre" value="<%=movie.genre%>" ><br>
      Current Release Year
      <input type="text" name="releaseYear" value="<%=movie.releaseYear%>" ><br>


      Current Synopsis
      <textarea name="synopsis" value= "<%=movie.synopsis%>" rows="5" cols="100"><%=movie.synopsis%></textarea>





      Current Length/Seasons
      <input type="text" name="length" value="<%=movie.length%>" ><br>

      Current Content Rating
      <input type="text" name="contentRating" value="<%=movie.contenRating%>" ><br>


      Current User Rating
      <input type="text" name="userRating" value="<%=movie.userRating%>"><br>

      Current Review

      <textarea name="review" value= "<%=movie.review%>" rows="5" cols="100"><%=movie.review%></textarea>


      <input type="submit" value="Submit Changes">
    </form>
    <form action="/movies">
      <button type="submit">Back to Home</button>
    </form>
  </div>
</body>

</html>
