<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include ('./partials/head.ejs') %>

<body>
  <%- include ('./partials/header.ejs') %>

  <div class="container">
    <h1><%=movie.title%></h1>
    <img src="<%=movie.image%>" width='250px' height='350px' alt="<%=movie.title%>"><br>
    <label for="">Synopsis</label>
    <%=movie.synopsis%><br><br>
    <label for="">Director</label> <%=movie.director%><br>
    <label for="">Genre</label> <%=movie.genre%><br>
    <label for="">User Rating</label> <%=movie.userRating%><br>
    <label for="">Release Year</label> <%=movie.releaseYear%><br>
    <label for="">Length</label> <%=movie.length%><br>
    <label for="">Content Rating</label> <%=movie.contentRating%><br>
    <label for="">User Review</label> <%=movie.review%><br><br>
    <div class="deleteEdit">

    <form action="/movies/edit/<%=movie.id%>">
      <button class="button button1" type="submit">Edit Entry</button>
    </form>
    <form action="/movies/<%=movie.id%>?_method=DELETE" method="POST">
      <button class="button button2" type="submit">Delete Entry</button>
    </form>
  </div>

  </div>
</body>

</html>
